<ul class="nav flex-column bg-light-blue">
  <li class="nav-item">
    <a class="nav-link" href="#">Mes commandes</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{{ path('app_account_addresses')}}">Mes adresses</a>
  </li>
  <li class="nav-item">
    <a href="{{ path('app_account_modify_pwd')}}" class="nav-link">Modifier mon mot de passe</a>
  </li>
  <li class="nav-item">
    <a href="{{ path('app_logout')}}" class="nav-link">Déconnecter</a>
  </li>
</ul>